

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INSEMI</title>
</head>
<body>
<center><h1>INSEMI</h1></center>

<center><h2>ASSET TRACKING</center><br>
<br>
<br>
<center>
<form action='analyze' method='get'>

    <h3><label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="tn" required></center><br></h3>

    <center>
    <h3><label ><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="tr" required><br></center></h3><br>

    <center><button type='submit'> login  </button></center>

</form>

</body>
</html>







